.http.log
*.log
examples/data/*
examples/result/*
examples/*/result/*
.idea/*
build
tmp
.coverage
coverage-reports
__pycache__/*
*/__pycache__/*
.DS_Store

model/*
result/*
.vscode/*

*.pyc
*.swp
*.swc
*.swo

# Sphinx documentation
docs/_build/
data/*
zhusuan/local/*
zhusuan_pytorch.egg-info
**/data
**/results
test/distributions/hist_images/
