.http.log
*.log
examples/data/*
examples/result/*
examples/*/result/*
.idea/*

__pycache__/*
*/__pycache__/*

model/*
result/*

*.pyc
*.swp
*.swc
*.swo

# Sphinx documentation
docs/_build/

zhusuan/local/*
zhusuan_torch.egg-info/*