.http.log
*.log
examples/data/*
examples/result/*
examples/*/result/*
.idea/*
build
tmp
.coverage
zhusuan_pytorch.egg-info
__pycache__/*
*/__pycache__/*

model/*
result/*
.vscode/*

*.pyc
*.swp
*.swc
*.swo

# Sphinx documentation
docs/_build/
data/*
zhusuan/local/*
zhusuan_torch.egg-info/*